* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'sans-serif';
  
}

/* Navbar */

.nav {
  height: 60px;
  background-color: #ffffff;
  box-shadow: 5px 1px grey;
  color: black;
  display: flex;
  justify-content: space-between;
}

.nav-logOut {
  height: 100%;
  width: 130px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Page */

#homeImg {
  background-image: url("/coverPage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 92vh;
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#homeImg > div {
  position: absolute;
  right: 0%;
  top: 22%;
  z-index: 1;
}

#dash-btn {
  padding: 10px;
  height: 3.5rem;
  width: auto;
  font-size: 2rem;
  background: transparent;
  position: absolute;
  top: 35%;
  right: 33%;
  transition: 0.3s;
}

#dash-btn:hover {
  background-color: black;
  color: white;
}



/* Signup page */
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  border: 2px solid black;
  width: 60vw;
  background-color: lightblue;
}

.signup div {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 40vw;
}

.signup label {
  padding: 5px;
}

.signup input {
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  height: 5vh;

}

.signup button {
  padding: 10px;
  background-color: black;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Dashboard */

.dashboard {
  width: 80%;
  margin: auto;
}

/* NewTaskBar */

.projects {
  display: flex;
/*   border: 1px solid black; */
  height: 70px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 6px -6px #777;
}

.proj-search {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-bottom: 1px solid eee;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  margin: 10px;
}

.proj-select {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: white;
  border-bottom: 1px solid eee;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 200px;
}

#bold-text {
  font-weight: bold;
}

.task-btn {
  padding: 8px 30px;
  margin-right: 10px;
  background-color: #3CA05D;
  border: none;
  color: white;
  font-size: 14px;
  letter-spacing: 0.1em
}

/* Display Timer */

.timer {
  margin-left: 25%;
  color: rgb(91,161,94);
  font-size: x-large;
  font-weight: bold;
}

/* Display Task */

.tasks-main {
  box-shadow: 0 10px 6px -6px #777;
}

.tasks {
  display: flex;
/*   border: 1px solid black; */
  justify-content: space-between;
/*   box-shadow: 0 10px 6px -6px #777; */
  font-weight: bold;;
}

.tasks div {
  margin: 6px 10px;
  width: 25%;
  display: flex;
  justify-content: center;
}

.tasks-content {
  display: flex;
  justify-content: space-between;
}

.tasks-content div {
  margin: 2px 10px;
  width: 25%;
   display: flex;
  justify-content: center;
}

.task-name {
  display: flex !important;
  justify-content: start !important;
  margin-left: 20px !important;
}

.task-btn {
 
  padding: 8px 30px;
/*   margin-right: 10px; */
  background-color: #3CA05D;
  border: none;
  color: white;
  font-size: 14px;
  letter-spacing: 0.1em
}

/* Create Task */

.create-task {
  display: grid;
  width: 400px;
  grid-template-columns: 1fr 2fr;
   grid-gap: 10px;
/*    border:   1px solid black; */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 100px auto;
}

.create-task input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: white;
  border-bottom: 1px solid eee;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.create-task button {
  padding: 10px 0px;
  background-color: #3CA05D;
  border: none;
  color: white;
  letter-spacing: 0.1em;
}
